:host {
    width: 21vw;
    margin: 0 2vw 2vw;
    vertical-align: top;
    min-width: 350px;
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;

    &-buttons {
        margin-top: auto;
        text-align: center;
    }
}
