<mat-card class="card">
    <mat-card-header>
        <mat-card-title>{{film.title}}</mat-card-title>
        <mat-card-subtitle>{{film.release_date}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://image.tmdb.org/t/p/w500/{{film.poster_path}}" alt="{{film.title}}">
    <mat-card-content>
        <p>{{film.overview}}</p>
    </mat-card-content>
    <mat-card-actions class="card-buttons">
        <button mat-flat-button color="primary" (click)="showFullInfo()">More info {{film.id}}</button>
    </mat-card-actions>
</mat-card>
